.title-view-container{
  min-height: 100%;
  position: relative;
  padding-top: 30%;
  padding-bottom: 20%;
  .line-container{
    margin-bottom: 20%;
    .title-line-one, .title-line-two{
      white-space: nowrap;
      overflow: hidden;
      word-spacing: -10px;
      span{
        background-color: none;
        font-size: 1.1rem;
      }
      h1{
        background-color: none;
      }
    }
    .title-line-one{
      height: 0.92rem;
      span{
        line-height: 0.92rem;
      }
    }
    .title-line-two{
      line-height: 0.92rem;
      span{
        height: 0.92rem;
      }
      h1{
        transform: translateX(-97.5%);
      }
    }
  }

  h3{
    margin-top: 50px;
    text-align: center;
  }
  .icons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 50px auto 100px auto;

    .icon-box{
      padding: 5px;
      display: flex;
      flex-direction: column;
      img{
        height: 120px;
      }
      p{
        text-align: center;
      }
    }
  }
  // h2{
  //   text-align: center;
  //   color: yellow;
  // }
  .arrow{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    margin-top: 10px;
  }
}