.about-view-container{
  // height: 100vh;
  h3{
    margin-top: 50px;
    text-align: center;
  }
  .icons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 50px auto 100px auto;

    .icon-box{
      display: flex;
      flex-direction: column;
      img{
        height: 120px;
      }
      p{
        text-align: center;
      }
    }
  }

  
}